<%- include('../partials/header', { title: "Home page" }) %>

<div class="bg-stone-900 flex w-full px-40 py-4 justify-between">
  <h1 class="text-2xl">Students</h1>
  <form action="/logout" method="POST">
    <button class="bg-red-600 px-6 py-1 rounded-md hover:bg-red-700 font-bold" type="submit">Logout</button>
  </form>
</div>

<div class="flex items-center justify-center h-[calc(100vh-80px)]">
  
  <h1 class="text-6xl text-cyan-600 font-bold">Welcome to home page</h1>
</div>

<%- include('../partials/footer') %>
