<%- include('../partials/header', { title: 'Login - Student Management' }) %>

<div class="flex items-center justify-center h-screen">
  <div class="bg-zinc-800 w-96 h-96 rounded-md p-4">
    <h1 class="text-2xl font-bold text-center w-full my-6">Login</h1>
    <p class="w-full text-center text-red-600"><%= msg ? msg : " " %></p>

    <form action="/login" method="POST">
      <input
        class="bg-stone-900 w-full p-2 my-2 rounded-md outline-none focus:outline-cyan-500"
        type="email"
        name="email"
        placeholder="Email"
        required
      />
      <div>
        <input
          class="bg-stone-900 w-full p-2 my-2 rounded-md outline-none focus:outline-cyan-500"
          type="password"
          id="password"
          name="password"
          placeholder="Password"
          required
        />
      </div>

      <div class="flex items-center mt-2">
        <input
          type="checkbox"
          id="showPassword"
          class="mr-2"
        />
        <label for="showPassword" class="text-white">Show Password</label>
      </div>

      <button
        class="bg-cyan-600 w-full my-2 p-2 rounded-md hover:bg-cyan-700"
        type="submit"
      >
        Login
      </button>
    </form>

    <p class="w-full text-center mt-4">
      Don't have an account? <a href="/signup" class="text-blue-800">Signup</a>
    </p>
  </div>
</div>

<script>
  const showPasswordCheckbox = document.getElementById('showPassword');
  const passwordField = document.getElementById('password');

  showPasswordCheckbox.addEventListener('change', function () {
    if (showPasswordCheckbox.checked) {
      passwordField.type = 'text';
    } else {
      passwordField.type = 'password';
    }
  });
</script>

<%- include('../partials/footer') %>
